body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
    grid-template-areas: 'blue blue blue' 'green green .' '. black black';
}